# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
.mypy_cache/
.pytest_cache/
.ruff_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local

# Qdrant
qdrant.db

# test
htmlcov
.coverage
